#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 30px;
  z-index: 1;
}

@keyframes fabeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 90px;
  display: flex;
  align-content: center;
  animation: fabeIn 0.3s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  margin-left: 135px;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-left: 15px;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.message__info {
  display: flex;
  align-content: flex-end;
  margin-bottom: 20px;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time {
  position: absolute;
  left: 130px;
  bottom: 660px;
  opacity: 0.8;
  font-size: 13px;
}
.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  font-size: 16px;
  color: black;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 30px;
  margin-left: 5px;
}

.message__time2 {
  position: absolute;
  bottom: 560px;
  right: 187px;
  color: black;
  font-size: 13px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  order: 1;
}

.message-row--own .message__time {
  order: 0;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 14px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 15px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child {
  opacity: 0;
  visibility: hidden;
}

.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 98vw;
  transform: rotateX(80%) rotateY(80px);
}

.reply:focus-within {
  transform: translateY(5px) translateY(3px) translateZ(3px) translate3d(50px);
}
