#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  margin-top: -1px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

@keyframes hidesplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hidesplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
