.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
}

.screen__title {
  font-size: 32px;
  font-weight: 600;
}

.screen__icons span {
  margin-left: 25px;
}
