..user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
  margin-left: 15px;
  top: 10px;
}

.user-component {
  justify-content: space-between;
}

.user-component__title1 {
  position: absolute;
  margin-top: -40px;
  left: 90px;
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle2 {
  position: absolute;
  margin-top: -20px;
  left: 90px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--sm {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-top: 290px;
}

.user-component__title--not-bold {
  position: absolute;
  left: 90px;
  margin-top: -0.1px;
  color: black;
  font-size: 1200;
}

.friends-screen__channel {
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.212);
  padding: 15px;
}

.friends-screen__channel-header1 {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__column3 {
  position: absolute;
  right: 20px;
  opacity: 0.7;
}
